{% extends 'base.html' %}

{% block title %}Home - Snazzy{% endblock %}

{% block content %}
{% load static %}
<div class="main">
    <div class="leftcontainer">
        <div class="gift">
            <a href="{% url 'my_product' %}"><img src="{% static 'svg/gift.svg' %}" alt=""></a>
            <p>Gifts</p>
        </div>
        <div class="Trendings">
            <a href="{% url 'trending_view' %}"><img src="{% static 'svg/Trending.svg' %}" alt=""></a>
            <p>Trending</p>
        </div>
        <div class="sell">
            <a href="{% url 'add_product' %}"><img src="{% static 'svg/sell.svg' %}" alt=""></a>
            <p>Sell</p>
        </div>
        <div class="stuff">
            <a href="{% url 'my_product' %}"><img src="{% static 'svg/stuff.svg' %}" alt=""></a>
            <p>My Stuff</p>
        </div>
        <!-- <div class="explore">
            <img src="{% static 'svg/explore.svg' %}" alt="">
            <p>Explore</p>
        </div> -->
    </div>

    <div class="box1">
        <a href="{% url 'products_by_category' 'mobilecovers' %}"><img src="{% static 'images/z1.png' %}" alt="photo"></a>
        <div class="mainbox">
            <div class="box2">
                <a href="{% url 'products_by_category' 'clothing' %}"><img src="{% static 'images/z2.jpg' %}" alt=""></a>
            </div> 
            <div class="box3">
                <a href="{% url 'products_by_category' 'mobilecovers' %}"><img src="{% static 'images/z3.jpg' %}" alt=""></a>
            </div> 
            <div class="box4">
                <a href="{% url 'products_by_category' 'mugs' %}"><img src="{% static 'images/z5.jpg' %}" alt=""></a>
            </div>
            <div class="box5">
                <a href="{% url 'products_by_category' 'shoes' %}"><img src="{% static 'images/z6.jpg' %}" alt=""></a>
            </div>
        </div>
                    
        <div class="Product_list" style="display: flex;">
            {% for product in product_data %}
            <div class="products">
                <a href="{% url 'product_detail' pk=product.id %}">
                    {% if product.product_image %}
                        <img src="{{ product.product_image }}" alt="{{ product.name }}">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </a>
                <h3>{{ product.name }}</h3>
                <p>Price: ₹{{ product.price }}</p>
            </div>
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}
