{% extends 'base.html' %}

{% block title %}Products by Category{% endblock %}

{% block content %}
<div class="category-container">
    <h1>Products in "{{ category.name }}"</h1>
    <div class="Product_list" style="display: flex;">
        {% for product in product_data %}
        <div class="products">
            <a href="{% url 'product_detail' pk=product.id %}">
                {% if product.product_image %}
                    <img src="{{ product.product_image }}" alt="{{ product.name }}">
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </a>
            <h3>{{ product.name }}</h3>
            <p>Price: ₹{{ product.price }}</p>
        </div>
        {% endfor %} 
    </div>
</div>
{% endblock %}